<%- include('./partials/header') %>


<section class="text-center d-flex justify-content-center align-items-center py-5" style="height: 100vh; width: 100%;">
    <div class="card">
        <img src="./image/error.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SAQR SUBAIE - error-404</h5>
            <p class="card-text TEXT">Error, this page : <b id="r404"><%= r404 %></b> does not exist</p>
            <div class="">
                <a href="/" type="button" class="btn btn-secondary me-1"><i class="fa-solid fa-house"></i> House</a>
            </div>
        </div>
    </div>
</section>




<%- include('./partials/footer') %>