<%- include('./partials/header') %>


<section class="text-center d-flex justify-content-center align-items-center py-5" style="height: 100vh; width: 100%;">
    <div class="card p-2 m-2">
        <img src="./image/avatar.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SAQR SUBAIE</h5>
            <p class="card-text TEXT">I'm a web developer with 1 years of experience</p>
            <div class="">
                <b class="icon-1 m-3 p-2"><i class="fa-brands m-2 fa-github"></i></b>
                <b class="icon-1 m-3 p-2 icon-2"><i class="fa-brands m-2 fa-html5"></i></b>
                <b class="icon-1 m-3 p-2 icon-3"><i class="fa-brands m-2 fa-css3-alt"></i></b>
                <b class="icon-1 m-3 p-2 icon-4"><i class="fa-brands m-2 fa-bootstrap"></i></b>
            </div>
        </div>
        <div class="card-body">
            <a href="https://github.com/SAQR-SUBAIE/" type="button" class="btn btn-secondary me-1" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
            <a href="https://twitter.com/SAQR_SUBAIE/" type="button" class="btn btn-secondary me-1" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href="https://discord.com/channels/@me/777228359511048202" type="button" class="btn btn-secondary me-1" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a>
        </div>
    </div>
</section>



<%- include('./partials/footer') %>